# --- DEPENDENCIAS ---
# Ignoramos node_modules para que Docker haga una instalación limpia
# y no copie la carpeta gigante de tu Mac (que podría dar errores en Linux)
node_modules

# --- ARCHIVOS TEMPORALES Y SALIDAS ---
out
dist
*.tgz
coverage
*.lcov
logs
_.log
report.*.json

# --- SECRETOS (¡MUY IMPORTANTE!) ---
# Nunca queremos las claves reales dentro de la imagen
.env
.env.*

# --- CACHÉS Y SISTEMA ---
.eslintcache
.cache
*.tsbuildinfo
.idea
.DS_Store
.git
.gitignore
Dockerfile